<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  </head>
<body>
    <div ng-app='contacts' ng-controller='ContactsController'>
      <h1 >Enter contact info:</h1>
      <div class="col">
          <form name='userForm' ng-submit='addNew(userForm)'>
              <input placeholder='Name' ng-model='userForm.name'/><br>
              <input placeholder='Photo' ng-model='userForm.url'/><br>
              <input placeholder="Phone" ng-model='userForm.phone'/><br>
              <input placeholder="Email" ng-model='userForm.email'/><br>
              <input placeholder="Address" ng-model='userForm.address'/><br>
            <button type='submit'>Add Contact</button>
        </form>
      </div>

      <div class="col">
        <ul class="contactList">
          <li ng-repeat="contact in usercontacts">
            <user contact='contact'>
          </li>
        </ul>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="app.js"></script>
</html>
